# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Windows shortcuts
*.lnk

# pboproject log files
*.log

# output pbo files
*.pbo

# keys
*.bikey
*.biprivatekey
*.bisign

# hemtt releases folder
releases/
